
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.option-dropdown {
    float: right;
    color: grey;
}


.citation-style-list-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
